*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
form{
    margin-top: 150px;
    width: 310px;
    box-shadow: 0 0 20px rgb(10, 121, 174);
    padding: 30px;
    border-radius: 30px;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
}

input{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px;
    background-color: rgb(232, 240, 254);
    border: 0px;
    border-radius: 5px;
    outline-color: rgb(10, 121, 174);
    width: 80%;
}
button{
    margin-top: 20px;
    padding: 7px;
    background-color: rgb(10, 121, 174);
    color: white;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(124, 217, 250);
    color: black;
}
.correcto{
    background-color: rgb(142, 220, 185);
    border: 1px solid rgb(142, 220, 185);
}

.error{
    background-color: rgb(236, 151, 151);
    border: 1px solid rgb(236, 151, 151);
}

.circleCrossNombre, .circleCrossCelular, .circleCrossCorreo, .circleCrossDescripcion, .circleCrossPrecio{
    margin-left: 5px;
    color: rgb(236, 151, 151);
}

.ocultar{
visibility: hidden;
}

.mensajeNombre, .mensajeCelular, .mensajeCorreo, .mensajeDescripcion, .mensajePrecio{
    color: rgb(236, 151, 151);
    font-size: small;
}

.circleCheckNombre, .circleCheckCelular, .circleCheckCorreo, .circleCheckDescripcion, .circleCheckPrecio{
    color: rgb(142, 220, 185);
}